*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
*.gz binary
*.tar binary
*.bin binary
*.sqlite binary
*.db binary
*.npy binary
*.npz binary
*.mat binary
*.wav binary
*.mp3 binary
*.ogg binary
*.flac binary
